.wrap {
  display: flex;
  padding: 15px;
  align-items: center;
}

.status {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 3px 1px 6px 0px rgb(0 0 0 / 30%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 2px 1px -1px rgb(0 0 0 / 12%);
  background-color: green;
}

.green {
  composes: status;
  background-color: green;
}

.red {
  composes: status;
  background-color: red;
}

.avatar {
  margin-right: 10px;
  border-radius: 3px;
  width: 60px;
}

.name {
  font-size: 25px;
  font-weight: 700;
}
